<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <form action="{% url 'create_order' %}" method="post">
            {% csrf_token %}
            <h1>Add Order</h1>
            <div>
                {% if msg %}
                <p>{{msg}}</p>
                {% endif %}
            </div>
            <div>
                <div>
                    <label for="">Customer</label>

                    <select name="cust" id="">

                        {% for i in customer %}
                        <option value="{{i.id}}">{{i.first_name}}</option>
                        {% endfor %}
                    </select>

                </div><br>
                <div>
                    <label for="">Product</label>

                    <select name="prod" id="productlist">
                        <option value="">---select product---</option>
                        {% for i in product %}
                        <option value="{{i.id}}" unitprice='{{i.unit_price}}'>{{i.name}}</option>
                        {% endfor %}
                    </select>
                </div><br>
                <div>
                    <label for="">Price</label>

                    <input type="number" name="price" id="unitprice" value="{{i.unit_price}}">

                </div><br>
                <div>
                    <label for="">Quentity</label>
                    <input type="number" name="quentity" id="quentity">
                </div><br>
                <div>
                    <label for="">Total Price</label>
                    <input type="number" name="totalprice" id="totalprice" readonly>
                </div><br>
                <div>
                    <input type="submit" value="Place Order">
                </div>
            </div>
        </form>
        <div>
            <a href="{% url 'all_order' %}">All Order</a>
        </div>
    </center>
    <p>{{product.unit_price}}</p>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
<script>
    $("#quentity").keyup(function () {
        var unit_price = $('#unitprice').val();
        var quentity = $('#quentity').val();
        var total = unit_price * quentity
        $('#totalprice').val(total);
    });
    $('#productlist').change(function () {
        if ($(this).val()) {
            var unitprice = $(this).find('option:selected').attr('unitprice');
            $('#unitprice').val(unitprice);
        }
        else {
            $('#unitprice').val(0);
        }



    });
</script>