<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h1>All Order</h1>
    <div>
        <button><a id="button">Add Order</a></button>
        <br>
        <center>
            <div style="display: none;" id="inp">

                <div>
                    <label for="">Customer</label>

                    <select name="cust" id="">
                        {% for i in customer %}
                        <option value="{{i.id}}">{{i.first_name}}</option>
                        {% endfor %}
                    </select>

                </div><br>
                <div>
                    <label for="">Product</label>

                    <select name="prod" id="">
                        {% for i in product %}
                        <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                </div><br>
                <div>
                    <label for="">Price</label>
                    <input type="number" name="price" id="one">
                </div><br>
                <div>
                    <label for="">Quentity</label>
                    <input type="number" name="quentity" id="quentity">
                </div><br>
                <div>
                    <label for="">Total Price</label>
                    <input type="number" name="totalprice" id="result">
                </div><br>
                <div>
                    <input type="submit" value="Place Order">
                </div><br><br>

            </div>
        </center>
        <table>
            <tr>
                <th>Customer</th>
                <th>Product</th>
                <th>Unit Price</th>
                <th>Qty</th>
                <th>Total Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for i in order %}
            <tr>
                <td>{{i.customer__first_name}}</td>
                <td>{{i.product__name}}</td>
                <td>{{i.price}}</td>
                <td>{{i.qty}}</td>
                <td>{{i.total_price}}</td>
                <td><a href="{% url 'update' id=i.id %}">Edit</a></td>
                <td><a href="{% url 'delete' id=i.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>

<script>
    $("#button").click(function () {
        $("#inp").show();
        $("#quentity").keyup(function () {
            var unit_price = $('#unitprice').val();
            var quentity = $('#quentity').val();
            var total = unit_price * quentity
            $('#totalprice').val(total);
        });
    });
</script>